In [2]:
# make ../ (project root) importable so we can do `from src...`
import sys, os
ROOT = os.path.abspath(os.path.join(os.getcwd(), ".."))
if ROOT not in sys.path:
    sys.path.insert(0, ROOT)

from src.utils import clean_column_names

In [6]:
import numpy as np, pandas as pd
from src.utils import clean_column_names

In [7]:
arr = np.array([1, 2, 3, 4, 5])
print("Mean:", arr.mean())
print("Sum:", arr.sum())

Mean: 3.0
Sum: 15

In [8]:
data = {"Name": ["Alice", "Bob"], "Age": [25, 30]}
df = pd.DataFrame(data)
clean_column_names(df)
df

    name  age
0  Alice   25
1    Bob   30